/*--------------------------BASIC-SETUPS------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: #fff;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #b8b9ba;
}
.row{
    width: 1140px;
    margin: 0 auto;
}
section{
    padding: 80px 0px;
}
/*--------------------------BASIC-SETUPS----------------------------------------------*/



/*--------------------------heading-sections------------------------------------------*/
header{
    background-image:url(img/cver.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


/*-----------navigations----------------*/
.navs-header {
    float: right;
    list-style: none;
    margin-top:20px;
}
.navs-header li{
    display: inline-block;
    margin-right:40px;
}
.navs-header li a:link,
.navs-header li a:visited{  
    text-decoration: none;
    color:#7f91a3; 
    font-size: 90%;
    text-transform: uppercase;
    padding-bottom:10px;
    border-bottom: 1px solid transparent;
}
.navs-header li a:hover,
.navs-header li a:active{
border-bottom: 2px solid #eda41d;
}
/*-----------navigations----------------*/



/*-----------logo----------------*/
.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}
/*-----------logo----------------*/



/*-----------heads----------------*/
h1,h2{
     font-size:200%;
    font-weight: 300;
}
h1{
    text-transform: uppercase;
    color: #858789;
    word-spacing: 3px;
    letter-spacing: 1px;
    
}
h2{
     margin-top: 0;
    word-spacing: 2px;
    color:#a89b9b;
    text-align: center;
    margin-bottom: 30px; 
}
h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top:25px;
}
h3{
    font-size: 150%;
    font-weight: 300;
}
/*-----------heads----------------*/
.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/*----------Buttons-links----------*/
.btn {
    text-decoration: none;
    text-transform: uppercase;
    margin-left:15px;
    padding: 10px 30px;
    border-radius: 200px;
}
.btn-covered:link,
.btn-covered:visited{
    color: white;
     background-color:orange;
}
.btn-covered:hover,
.btn-covered:active{
     background-color:#e29509;
}

.btn-white:link,
.btn-white:visited {
    color: orange;
    border: 1px solid orange;
}
.btn-white:hover,
.btn-white:active {
    color: white;
    background-color:#e29509;
}
/*----------Buttons-links----------*/

/*--------------------------heading-sections------------------------------------------*/


.icon-big {
    font-size:64px;
    color: #e67e22;
}
/*-------------------paragraphs---------------------*/
.long-copy {
  line-height:145%;
  width: 70%;
  margin-left: 15%;
}
.box p{
    line-height: 145%;
    font-size: 90%;
}